<div class="pageHeader">
  CompareHelper
</div>
<div class="flex flex-wrap column-gap-4 row-gap-6">
  <p-card>
    <ng-template pTemplate="header">
      <div class="flex align-items-center justify-content-between bg-blue-50">
        <div class="text-lg font-semibold m-3">
             Användare att jämföra
        </div>
        <div class="align-items-center m-3">
          <p-button id="manageGroup" icon="pi pi-user-edit" (click)="showManageGroupDialog()"></p-button>
        </div>
      </div>
    </ng-template>
    <div class="grid">
      <ng-container *ngFor="let userDecorated of groupDecorated">
        <div class="col-1">
          <p-checkbox name="usergroup" [value]="userDecorated.user" [(ngModel)]="selectedUsers" (onChange)="handleUserselection()"></p-checkbox>
        </div>
        <ng-container *ngTemplateOutlet="userDecorated.userInfo?decorated:undecorated;context: userDecorated">
        </ng-container>
        <ng-template #decorated let-userInfo=userInfo>
          <div class="col-7">
            <span class="white-space-nowrap">{{userInfo.name}} <span [class]="getFlagClass(userInfo.country)"></span> </span>
          </div>
          <div class="col-2 text-right">
            +{{userInfo.pointsPerHour}}
          </div>
          <div class="col-2 text-right">
            {{userInfo.points}}
          </div>
        </ng-template>
        <ng-template #undecorated let-user=user>
          <div class="col-11">
            {{user.username}}
          </div>
        </ng-template>
      </ng-container>
    </div>
  </p-card>

  <p-card>
    <ng-template pTemplate="header">
      <div class="flex align-items-center justify-content-between bg-blue-50">
        <div class="text-lg font-semibold m-3">
          Ansträngning
        </div>
      </div>
    </ng-template>
    <p-table [value]="selectedTurfEfforts">
      <ng-template pTemplate="header">
        <tr>
          <th>Användare</th>
          <th>Nedlagd tid</th>
          <th>Poäng</th>
          <th>Från pph</th>
          <th>Takes</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-effort>
        <tr>
          <td (click)="showTakeoverSummaryDialog(effort.username)">{{effort.username}}</td>
          <td>{{effort.timeSpent}}</td>
          <td class="text-right">{{effort.points}}</td>
          <td class="text-right">{{effort.pointsByPph}} {{getFormattedPercentage(effort.points, effort.pointsByPph)}}</td>
          <td class="text-right">{{effort.takes}}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-card>

  <p-card>
    <ng-template pTemplate="header">
      <div class="flex align-items-center justify-content-between bg-blue-50">
        <div class="text-lg font-semibold m-3">
          Ackumulerad poäng
        </div>
      </div>
    </ng-template>
    <p-chart type="line" [data]="dataCumulative" [options]="optionsCumulative" width="90vw" height="60vh"></p-chart>
  </p-card>

  <p-card>
    <ng-template pTemplate="header">
      <div class="flex align-items-center justify-content-between bg-blue-50">
        <div class="text-lg font-semibold m-3">
          Poäng dag för dag
        </div>
      </div>
    </ng-template>
    <p-chart type="bar" [data]="dataDaily" [options]="optionsDaily" width="90vw" height="200vh"></p-chart>
  </p-card>

</div>

<app-manage-group-dialog [(displayDialog)]="displayManageGroupDialog" [usersToSave]="groupToModify" (usersToSaveChange)="handleManagedGroup($event)" ></app-manage-group-dialog>
<app-takeover-summary-dialog [(displayDialog)]="displayTakeoverSummaryDialog" [takeoverSummary]="currentTakeoverSummary" [userId]="currentUserId" [takeoversInRound]="takeoversInRound"></app-takeover-summary-dialog>
