<p-dialog [header]="zonename" [(visible)]="displayDialog" [modal]="true" [draggable]="false" [resizable]="false" [style]="{width: '100vw', height: '70vh'}" (onHide)="closeDialog()" >
  <div>{{zoneTakeoverSummary.areaName}} {{zoneTakeoverSummary.tp}}p, +{{zoneTakeoverSummary.pph}}</div>
  <div class="bottomSpace"></div>
  <div>
    <h3>Tagningar (Senast först)</h3>
    <p-table [value]="zoneTakeoverSummary.takeovers" [scrollable]="true" scrollHeight="flex" [tableStyle]="{ 'max-width': '40rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Tidpunkt</th>
          <th>Användare</th>
          <th>Poäng</th>
          <th>Behållen</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-takeover>
        <tr>
          <td class="text-left">{{takeover.takeoverTime}}</td>
          <td class="text-left">{{takeover.user}}</td>
          <td class="text-right">{{takeover.points}}</td>
          <td class="text-right">{{takeover.duration}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div>
    <h3>Summering per användare</h3>
    <p-table [value]="zoneTakeoverSummary.totals" [scrollable]="true" scrollHeight="flex" [tableStyle]="{ 'max-width': '40rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th>Användare</th>
          <th>Tagningar</th>
          <th>Poäng</th>
          <th>Behållen</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-total>
        <tr>
          <td class="text-left">{{total.user}}</td>
          <td class="text-right">{{total.visits}}</td>
          <td class="text-right">{{total.points}}</td>
          <td class="text-right">{{total.duration}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</p-dialog>
